#nav{
    height: 35px;
    background: #eee;
}
.wrapper{
    width: 1199px;
    height: 35px;
    /* background: #f00; */
    /* 固定宽度的块元素 水平居中 */
    margin:0 auto;
}
.nav-left{
    float: left;
    line-height: 35px;
    color: #888888;
}
.nav-left a,.nav-right a{
    color:#888888 ;
}
.nav-right{
    float: right;
    line-height:35px;
}
.nav-hello{
    margin-right:23px;
}
.nav-line{
    margin:0 7px;
}
#nav .nav-active{
    color: #6F26BD;
}
.nav-right .nav-line{
    color:#888;
}
/* header开始 */
.logo-box{
    float: left;
}
.search-box{
    float: left;
}
.cart-box{
    float: left;
}
.header-logo{
    width: 176px;
    height: 49px;
    margin-top:44px;
}
.search-box{
    margin-left:123px;
}
.search-bar{
    width: 536px;
    height: 44px;
    border:2px solid #6F26BD;
    background: #6F26BD;
    margin-top:43px;
}
.search-bar input{
    width: 474px;
    height: 44px;
    background: #fff;
    border:none;
    float: left;
    text-indent:5px;
    /* input点击 蓝色边 */
    outline:none;
}
.search-bar button{
    width: 62px;
    height: 44px;
    background: #6F26BD;
    float: left;
    border:none;
    color: #fff;
    font-size: 16px;
}
.cate-box{
    margin-top:10px;

}
.cate-box a{
    margin-right: 24px;
    color: #999999;
    font-family: "Source Han Sans CN";
}
.cart-box{
    margin:56px 0 0 52px;
}
.shop-img{
    /* 图片和文字标签 高度不一样，居中对齐 vertical-align: middle  */
    vertical-align: middle;

    margin-top: -5px;
}
.cart-box a{
    color:#959595;
}
.cart-box .num{
    color:#FF4200;
}
/* 导航开始 */
.nav-2{
    /* background: #f00; */
    height: 50px;
    line-height: 50px;
    padding-left:260px;
    box-sizing: border-box;
    margin-top:40px;
}
.nav-2 a{
    padding:0 45px;
    color:#606060;
    font-weight: 500;
    font-size: 14px;
}
.hot{
    /* 绝对定位 相对于最近已定位的祖先元素 */
    position: absolute;
    right: 22px;
    top: -22px;
}
.list{
    /* 相对于自己的初始位置  空间不释放 */
    position: relative;
    left:0;
    top:0;
}
.banner-box{
    height: 545px;
    background: #eee0d5;
}
.banner-center-box{
    height: 545px;
    /* background: #0f0; */
    position: relative;
}
.banner-cate-box{
    height: 596px;
    /* background: #00f; */
    width: 260px;
    position: absolute;
    top:-50px;
}
.banner-cate-title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #6F26BD;
}
.icon-meirong{
    color: #fff;
}
.icon-shuma{
    color: #fff;
    font-size: 50px;
}
.icon-cate{
    float: left;
    margin-right: 7px;
    margin-top:15px;

}
.cate-info{
    float: left;
    width: 216px;
    height: 81px;
    border-bottom: 1px solid #fff;
    padding:0 11px 0 9px;
    box-sizing: border-box;
}
.cate-list-box{
    padding:16px 7px 0 14px;
    background: rgba(0,0,0,0.4);
    height: 545px;
    box-sizing: border-box;
}
.cate-info-title{
    /* color:#FFFEFE; */
    font-size: 16px;
    height: 53px;
    line-height: 53px;
}
.cate-info a{
    color:#FFFEFE;
}
.img-box img{
    height: 546px;
    width: 1199px;
}
.cate-info-title .more{
    float: right;
    color:#fff
}
/* 团购秒杀开始 */
.seckill-box{
    width: 590px;
    height: 379px;
    /* background: #f00; */
    float: left;
}
/* .seckill-box:nth-child(1){
    margin-right:19px;
} */
/* 找到所有class名为seckill-box中的第一个元素 */
.seckill-box:first-child{
    margin-right:19px;
}
.seckill-title{
    height: 35px;
    border-bottom: 1px solid #6F26BD;

}
.seckill-title-btn{
    height: 34px;
    width: 125px;
    background: #6F26BD;
    text-align: center;
    line-height: 34px;
    color: #fff;
}
.seckill-wrapper{
    margin-top:41px;
}
.seckill-list-box{
    margin-top:21px;
}
.seckill-pro-img{
    width: 185px;
    height: 187px;
}
.seckill-pro-title{
    color:#666;
    font-size: 14px;
    margin-top:10px;
}
.seckill-pro-price{
    color:#666;
    margin-bottom: 10px;
}
.seckill-pro-price span{
    color:#FF4200;
}
.seckill-status{
    width: 168px;
    height: 18px;
    border:1px solid #A6A6A6;
    /* 边框圆角 */
    border-radius: 5px;
    color: #A6A6A6;
    font-size: 13px;
    text-align: center;
    line-height:18px;
    position: relative;
}
.seckill-status span{
    position: absolute;
    left:0px;
    top:0px;
    width: 28px;
    height: 18px;
    background: #A6A6A6;
    border-radius: 3px;
}
.seckill-status span img{
    margin-top:2px;
}
.seckill-list{
    float: left;
    margin-right: 10px;
}
.content{
    background: #F5F5F5;
}
.content-title{
    position: relative;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color:#E74079;
}
.content-title::after{
    content: "";
    width: 534px;
    height: 1px;
    background: #D9D9D9;
    position: absolute;
    right:0;
    top:30px;
}
.content-title::before{
    content:"";
    width: 535px;
    height: 1px;
    background: #D9D9D9;
    position: absolute;
    left:0;
    top:30px;
}

.content-cate{
    height: 476px;
    width: 118px;
    background: #f00;
    float: left;
}
.special{
    height: 476px;
    width: 192px;
    background: #00f;
    float: left;

}

.content-pro-list{
    width: 596px;
    height: 476px;
    background: #0f0;
    float: left;
}
.hot-brand{
    width: 292px;
    height: 476px;
    background: yellow;
    float: left;
}
.pro-list{
    width: 198px;
    height: 238px;
    background: turquoise;
    float: left;
    border-right: 1px solid #E8E8E8;
    border-bottom:1px solid #E8E8E8;
    box-sizing: border-box;
}
.pro-list-first{
    width: 396px;
    height: 238px;
    background: turquoise;
    float: left;
    border-right: 1px solid #E8E8E8;
    border-bottom:1px solid #E8E8E8;
    box-sizing: border-box;
}