#nav{
    height: 35px;
    background: #eee;
}
.wrapper{
    width: 1199px;
    height: 35px;
    /* background: #f00; */
    /* 固定宽度的块元素 水平居中 */
    margin:0 auto;
}
.nav-left{
    float: left;
    line-height: 35px;
    color: #888888;
}
.nav-left a,.nav-right a{
    color:#888888 ;
}
.nav-right{
    float: right;
    line-height:35px;
}
.nav-hello{
    margin-right:23px;
}
.nav-line{
    margin:0 7px;
}
#nav .nav-active{
    color: #6F26BD;
}
.nav-right .nav-line{
    color:#888;
}
/* header开始 */
.logo-box{
    float: left;
}
.search-box{
    float: left;
}
.cart-box{
    float: left;
}
.header-logo{
    width: 176px;
    height: 49px;
    margin-top:44px;
}
.search-box{
    margin-left:123px;
}
.search-bar{
    width: 536px;
    height: 44px;
    border:2px solid #6F26BD;
    background: #6F26BD;
    margin-top:43px;
}
.search-bar input{
    width: 474px;
    height: 44px;
    background: #fff;
    border:none;
    float: left;
    text-indent:5px;
    /* input点击 蓝色边 */
    outline:none;
}
.search-bar button{
    width: 62px;
    height: 44px;
    background: #6F26BD;
    float: left;
    border:none;
    color: #fff;
    font-size: 16px;
}
.cate-box{
    margin-top:10px;

}
.cate-box a{
    margin-right: 24px;
    color: #999999;
    font-family: "Source Han Sans CN";
}
.cart-box{
    margin:56px 0 0 52px;
}
.shop-img{
    /* 图片和文字标签 高度不一样，居中对齐 vertical-align: middle  */
    vertical-align: middle;

    margin-top: -5px;
}
.cart-box a{
    color:#959595;
}
.cart-box .num{
    color:#FF4200;
}
/* 导航开始 */
.nav-2{
    /* background: #f00; */
    height: 50px;
    line-height: 50px;
    padding-left:260px;
    box-sizing: border-box;
    margin-top:40px;
}
.nav-2 a{
    padding:0 45px;
    color:#606060;
    font-weight: 500;
    font-size: 14px;
}
.hot{
    /* 绝对定位 相对于最近已定位的祖先元素 */
    position: absolute;
    right: 22px;
    top: -22px;
}
.list{
    /* 相对于自己的初始位置  空间不释放 */
    position: relative;
    left:0;
    top:0;
}
.banner-box{
    height: 545px;
    background: #f00;
}
.banner-center-box{
    height: 545px;
    background: #0f0;
    position: relative;
}
.banner-cate-box{
    height: 596px;
    background: #00f;
    width: 260px;
    position: absolute;
    top:-50px;


}